body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.title {
  font-size: 50px;
  text-align: center;
}

#container {
  width: 1000px;
  height: 550px;
  margin: 20px auto;
}

.calculator {
  border: 1px solid #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #c1bdbd;
}

.calculator-screen {
  width: 90%;
  font-size: 4rem;
  height: 90px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 30px;
  padding-left: 10px;
}

button {
  height: 50px;
  border-radius: 10%;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
}

button.equal-sign {
  border-radius: 8px;
}

button:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.operator1 {
  background-color: #20b2aa;
}

.operator2 {
  background-color: #ffa500;
}

.operator3 {
  background-color: #7d93e0;
}

.operator4 {
  background-color: #9477af;
}

.all-clear {
  background-color: #d3070e;
  border-color: #c7242a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #8cd6f3;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

footer {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
